@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 220 10% 20%;
    
    --card: 0 0% 100%;
    --card-foreground: 220 10% 20%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 220 10% 20%;
    
    --primary: 11 57% 29%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 17 28% 85%;
    --secondary-foreground: 11 57% 29%;
    
    --muted: 17 28% 90%;
    --muted-foreground: 220 10% 45%;
    
    --accent: 17 28% 63%;
    --accent-foreground: 11 57% 29%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 17 28% 88%;
    --input: 17 28% 94%;
    --ring: 11 57% 29%;
    
    --radius: 0.5rem;

    /* Chart colors */
    --chart-1: 45 90% 75%; /* Yellow */
    --chart-2: 210 90% 75%; /* Blue */
    --chart-3: 280 90% 80%; /* Purple */
    --chart-4: 345 70% 86%;
    --chart-5: 49 88% 80%;

    /* Sidebar colors */
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 11 57% 29%;
    --sidebar-border: 17 28% 92%;

    --sidebar-primary: 11 57% 29%;
    --sidebar-primary-foreground: 0 0% 100%;
    
    --sidebar-accent: 17 28% 85%;
    --sidebar-accent-foreground: 11 57% 29%;
    
    --sidebar-ring: 11 57% 29%;
  }

  .dark {
    --background: 220 10% 10%;
    --foreground: 220 10% 80%;
    
    --card: 220 10% 15%;
    --card-foreground: 220 10% 80%;
    
    --popover: 220 10% 15%;
    --popover-foreground: 220 10% 80%;
    
    --primary: 0 0% 100%;
    --primary-foreground: 220 10% 10%;
    
    --secondary: 220 10% 25%;
    --secondary-foreground: 220 10% 80%;
    
    --muted: 220 10% 25%;
    --muted-foreground: 220 10% 55%;
    
    --accent: 220 10% 20%;
    --accent-foreground: 220 10% 80%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 220 10% 25%;
    --input: 220 10% 20%;
    --ring: 220 10% 80%;

    --radius: 0.5rem;

    /* Chart colors */
    --chart-1: 45 80% 60%;
    --chart-2: 210 80% 60%;
    --chart-3: 280 80% 65%;
    --chart-4: 345 60% 60%;
    --chart-5: 49 78% 60%;

    /* Sidebar colors */
    --sidebar-background: 220 10% 12%;
    --sidebar-foreground: 220 10% 60%;
    --sidebar-border: 220 10% 20%;

    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 220 10% 10%;
    
    --sidebar-accent: 220 10% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    
    --sidebar-ring: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
